extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name
        h1 Mariah Rojas

        //- Title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Elevator pitch.
        .portfolio-bio
          p
            | Hi! My name is Mariah Rojas. I am a software developer for Verizon and I am ready to take my career to the next level.
            | I enjoy creating, designing and testing websites. I have completed several dynamic software development projects throughout my apprenticeship.
            | I would love to bring what I have learned to the table to create and grow with an amazing team!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skills
        ul
          li JavaScript
          li jQuery
          li Fetch API
          li Node
          li React 
          li CSS
        h6 Contact Info

        //- Contact info
        ul
          li 732.268.0880
          li mariah.rojas@verizon.com

        //- Social Media
        a.button.expanded(href="https://www.linkedin.com/") LinkedIn
        a.button.expanded(href="https://github.com/mariahrojas/") GitHub
        a.button.expanded(href="https://twitter.com/login") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  